.mySlides {
    display: none;
}

.carouselImg {
    width: 100%;
    height: 740px;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.carouselInnerDiv {
    position: absolute;
    top: 0px;
    background-color: transparent;
    width: 100%;
    height: 62%;
    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    background-color: transparent;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
}


/* Number text (1/3 etc) */

.numbertext {
    background-color: transparent;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
}


/* The dots/bullets/indicators */

#dotsDiv {
    position: absolute;
    bottom: 0;
    margin-left: 30px;
    background-color: transparent;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 10px 0px 0px;
    background: #ffffff;
    opacity: 0.2;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.6s ease;
}

.activeCarousel,
.dot:hover {
    background-color: #fff;
    opacity: 1;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}