#popmDiv {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#CloseIcon {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
    cursor: pointer;
}

.popmDivcontent {
    position: relative;
    border-radius: 32px;
    background-color: #0f0e0e;
    height: 85vh;
    width: 60%;
    padding: 30px;
}

.h3marginTop {
    margin-top: 30px;
}

.inpInRow {
    width: 45%;
}

.inpOneOther {
    margin-top: 22px;
    width: 45%;
}

.btn {
    width: 100%;
    /* position: absolute; */
    /* bottom: 0px; */
    /* left: 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
}

#btnPrevious {
    opacity: 0;
    visibility: hidden;
}

.NextBtn {
    margin: 30px 0px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.005em;
    background-color: #1e1e1e;
    padding: 10px;
    border: 1px solid #1e1e1e;
    border-radius: 16px;
    /* width: 250px; */
    width: 45%;
    cursor: pointer;
}

.Going,
.Imma {
    width: 200px;
    outline: none;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
    padding: 10px;
    border-radius: 16px;
    background: #1e1e1e;
    border-width: 0px;
    cursor: pointer;
}

.Imma {
    margin-left: 30px;
}

.popTitlDiv {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popTDiv {
    display: flex;
    justify-content: space-between;
}

.popCOntentDiv {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100%;
}

.contactNumber {
    margin-bottom: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.formTag {
    width: 98%;
}

.inpDivT {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.inpDivC {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 100px; */
}

.inpTagPry {
    outline: none;
    /* width: 320px; */
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #afafaf;
    padding: 12px;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    transition: all 0.3s;
}

.inpTagPry::-webkit-input-placeholder,
.inpTagPry:-ms-input-placeholder,
.inpTagPry::placeholder {
    font-family: "Manrope", sans-serif;
}

.inpTagPry:focus {
    border-color: #f45725;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    padding: 0px 20px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(161, 161, 161);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="radio"] {
    margin-left: 5px;
    height: 10px;
    accent-color: #f45725;
    transform: scale(1.5);
}

.labelTagInp {
    font-family: "Manrope", sans-serif;
    margin-left: 10px;
}

.radiobgnDiv {
    margin-bottom: 16px;
}

.inpDivTChild {
    width: 100%;
    display: flex;
    align-items: center;
}

#error {
    display: none;
    font-family: "Manrope", sans-serif;
    color: #f45725;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-left: 20px;
}

.PreviousBtn {
    display: none;
}

.selectedDiv {
    width: 200px;
    padding: 10px;
    background: #f45725;
    border-radius: 16px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #ffffff;
}

.SaveDiv {
    margin-top: 30px;
}

.Teamdetails {
    display: none;
}

.Note {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #afafaf;
}

#leaderDetails,
#leaderDetails1,
#details1,
#leaderDetails2,
#details2,
#detailsMember2 {
    text-transform: capitalize;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #afafaf;
}

.team-details {
    margin-top: 20px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #777777;
}

#teamNamePrint {
    margin-bottom: 10px;
}

#continuing1,
#continuing2,
#continuing3,
#Alert,
#EnterValidNumber {
    display: none;
    color: #f45725;
}

.submitDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.socialDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    width: 60%;
    /* margin-right: -34px; */
}

.socialIconsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.socialIcons {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.followP {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.successGif {
    border-style: none;
    height: 285px;
}

.successGif .attribution {
    display: none !important;
}

@media only screen and (max-width: 1200px) {
    .inpInRow {
        width: 40%;
    }
}

@media only screen and (max-width: 820px) {
    .GoingImmaDiv,
    .attendedFED,
    .SaveDiv {
        display: flex;
        flex-direction: column;
    }
    .Imma {
        margin-left: 0px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 650px) {
    .PreviousBtn {
        display: block;
        position: absolute;
        top: -6px;
        left: 20px;
        background-color: transparent;
        padding: 0px;
        border: 0px solid #1e1e1e;
        border-radius: 0px;
        width: auto;
        color: #f45725;
        font-size: 2rem;
        cursor: pointer;
    }
    .PreviousBTnDes {
        display: none;
    }
    #btnPrevious {
        display: none;
    }
    .inpDivTChild {
        flex-direction: column;
    }
    .inpInRow {
        width: 100%;
    }
    .btn {
        justify-content: center;
    }
    #error {
        width: 100%;
        text-align: left;
    }
    .inpDivT {
        align-items: flex-start;
        flex-direction: column;
    }
    .inpTagPry {
        width: 90%;
        margin-bottom: 20px;
    }
    #popmDiv {
        background-color: transparent;
        z-index: 0;
    }
    .popTDiv {
        flex-direction: column;
    }
    .popmDivcontent {
        top: -20px;
        border-radius: 0px;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .inpTagPry {
        width: 80%;
    }
}