.TeamCreative {
    margin: 80px 30px;
}

.TeamName {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.005em;
}

.TeamName span {
    color: #f45725;
}

.TeamNameSubTitle {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.005em;
    margin-bottom: 80px;
}

.colDiv1,
.colDiv2 {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.teamColDiv {
    display: flex;
    justify-content: space-evenly;
}

.memImgDiv,
.memImg {
    box-sizing: initial;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

.memImgDiv {
    border-style: solid;
    border-width: 3px;
    border-color: #c4c4c4;
    position: relative;
    transition: all 0.3s;
}

.memlinks {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    backdrop-filter: blur(1px);
    border-radius: 50%;
    transition: all 0.3s;
}

.memImgDiv:hover>.memlinks {
    opacity: 1;
    visibility: visible;
}

.svg {
    width: 60px;
    height: 60px;
    background-color: transparent;
}

.memLink {
    background-color: transparent;
}

.svg path {
    transition: all 0.3s;
}

.svg path:hover {
    color: #f45725;
}

.memName {
    text-transform: capitalize;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #ffffff;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
    padding: 4px 24px;
    border-radius: 8px;
    width: 45%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.3s;
}

.memDivMain:hover>.memName {
    width: 80%;
}

.name1 {
    background-color: #f4c300;
}

.name2 {
    background-color: #19c47d;
}

.name3 {
    background-color: #00b4cd;
}

.name4 {
    background-color: #18a0fa;
}

.memName,
.memImgDiv {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#OperationsTeam,
#MarketingTeam,
#CreativeTeam,
#TechnicalTeam {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#Operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.memDivMain {
    width: 260px;
    position: relative;
    margin: 0px 20px 130px 20px;
}

#CoreTeam {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(377px, 1fr));
    grid-template-rows: repeat(2, minmax(377px, 1fr));
    gap: 130px 20px;
    align-items: flex-start;
    justify-items: center;
}

.coreMemMainCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 377px;
}

.CorememCardImg {
    width: 100%;
    height: 431px;
}

.coresocilaDiv,
.coresocilaDiv2 {
    margin-bottom: 20px;
    width: 100%;
    margin-top: -200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}

.coresocilaDiv2 {
    margin-top: -65px;
}

.coreMemDesCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
    height: 100%;
    border: 4px solid #f45725;
    border-radius: 14px;
}

.PostPTag {
    margin: 20px 0px 35px 0px;
    text-align: center;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #f45725;
}

.PostAbtPTag {
    margin-bottom: 30px;
    width: 246px;
    height: 211px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #ffffff;
}

@media only screen and (max-width: 850px) {
    .memDivMain {
        /* width: 80%; */
        /* margin-left: 10%; */
    }
}

@media only screen and (max-width: 650px) {
    .memDivMain {
        margin: 0px 20px 50px 20px;
    }
}

@media only screen and (max-width: 580px) {
    .memDivMain {
        /* width: 70%; */
        /* margin-left: 25%; */
    }
    .TeamName {
        font-size: 40px;
    }
    .TeamNameSubTitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
    }
    #OperationsTeam,
    #MarketingTeam,
    #CreativeTeam,
    #TechnicalTeam,
    #CoreTeam {
        gap: 33px 0px;
    }
}

@media only screen and (max-width: 500px) {
    .memDivMain {
        /* width: 80%; */
        /* margin-left: 20%; */
    }
}

@media only screen and (max-width: 440px) {
    .memDivMain {
        /* width: 90%; */
        /* margin-left: 10%; */
    }
}

@media only screen and (max-width: 430px) {
    #CoreTeam {
        justify-items: start;
    }
    #CoreTeam {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-template-rows: repeat(2, minmax(377px, 1fr));
    }
    .coreMemMainCard {
        width: 100%;
    }
    .coreMemDesCard {
        width: 90.98%;
        height: 100%;
    }
    .PostAbtPTag {
        width: 71.72%;
        height: fit-content;
    }
}